<h1>Stats</h1>

<p>Nous avons en moyenne envoyé <%= @moyenne %> biens par subscribers depuis le début du service.</p>

<p>Depuis le 01/02/2020, cette moyenne est de <%= @moyenne_feb %> biens par subscriber !</p>

<p>Nombre de jours : <%= @number_days %></p>
