<footer class="bg-dark text-white p-4 row align-items-center mt-5">
  <div class="col-md-5 text-center text-md-left mb-3">
    <small>2020 © Ding Dong. Tous droits réservés.</small>
  </div>
  <div class="col-md-2 text-center mb-3">
    <img class="logo-sm" src="https://hellodingdong.com/assets/images/logo-ding-dong-white.png" alt="Logo" style="height:30px">
  </div>
  <div class="col-md-5 text-center text-md-right mb-3">
    <a class="text-white" target="_blank" href="mailto:nicolas@hellodingdong.com">✋ Besoin d'aide ?</a>
  </div>
</footer>