<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid #525f7f;">
  <img class="navbar-logo navbar-logo-dark" src="https://hellodingdong.com/assets/images/logo-ding-dong-full.png" style="height:30px" alt="Logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav align-items-center mr-auto">
      <li class="nav-item active">
        <%= link_to "Mes recherches", hunter_hunter_searches_path(current_hunter), class: "nav-link navbar-brand ml-4", style: "color:#525f7f; font-size: 16px;" %>
      </li>
    </ul>
    <ul class="navbar-nav align-items-center mr-0">
      <li class="nav-item active">
        <%= link_to "Créer une recherche", new_hunter_hunter_search_path(current_hunter), class: "btn btn-success" %>
        <% if hunter_signed_in? %>
          <%= link_to "Se deconnecter", destroy_hunter_session_path, class: "btn btn-outline btn-danger" %>
        <% else %>
          <%= link_to 'Se connecter', new_hunter_session_path, class: "btn btn-outline btn-danger" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>