<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid #525f7f;">
  <a class="navbar-brand text-primary" href="#">Ding Dong - Chasseur</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Mes recherches", hunter_hunter_searches_path(@hunter), class: "nav-link navbar-brand" %>
      </li>
    </ul>
  </div>
</nav>