---
http_interactions:
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties?cities=75&transaction=buy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Fri, 29 May 2020 14:32:09 GMT
      X-Clara-Wadp:
      - '473355961'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"data":[{"immo_id":17969336,"transaction_type":"buy","type":"apartment","type_label":"Appartement","slug":"appartement-4-pieces-17969336","mandate_type":"favoriz","is_favoriz":true,"is_loft":0,"price":895000,"formatted_price":"895\u202f000\u00a0\u20ac","has_gav":false,"rooms":4,"bedrooms":3,"surface":81,"surface_stay":null,"surface_carrez":81,"surface_livingroom":null,"surface_ground":null,"photos":["https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/6\/9\/3\/3\/6\/17969336a.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/6\/9\/3\/3\/6\/17969336b.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/6\/9\/3\/3\/6\/17969336c.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/lafore[...]
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties/17969336
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Fri, 29 May 2020 14:32:09 GMT
      X-Clara-Wadp:
      - '472278198'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"immo_id":17969336,"transaction_type":"buy","type":"apartment","mandate_type":"favoriz","selling_price":895000,"rent":null,"fees":null,"fees_rate":null,"charges":null,"deposit":null,"has_gav":false,"rooms":4,"bedrooms":3,"lots":null,"surface":81,"surface_stay":null,"surface_carrez":81,"surface_livingroom":null,"surface_ground":null,"floor":4,"floors":4,"year_of_construction":null,"water_closets":1,"bathrooms":1,"water_rooms":null,"parkings":null,"inside_parkings":null,"outside_parkings":null,"garages":null,"cellars":null,"balconies":null,"terraces":null,"kitchen_type":"american","heating_type":"collective","heating_nature":null,"has_basement":false,"has_lift":false,"has_swimming_pool":false,"has_handicap_access":false,"has_attic":false,"has_veranda":false,"has_fireplace":false,"is_furnished":false,"is_prestige":false,"is_new":false,"is_viager":false,"is_seasonal_rental":false,"is_loft":0,"dpe_level":"E","dpe_value":240,"ges_level":"D","ges_value":45,"is_copro":true,"copro_lots":48,"copro_budget":null,"copro_has_syndic":false,"copro_details":null,"fees_buyer_amount":null,"fees_seller_amount":10000,"fees_tenant_amount":null,"fees_state_of_play_tenant_amount":null,"inventory_costs":null,"provision_charges":null,"package_charges":null,"rent_supplement":null,"description":"NOGENT
        SUR MARNE \u00e0 SEULEMENT 6mn de NATION en RER.\nBOIS DE VINCENNES et RER
        \u00e0 500m, proximit\u00e9 des commerces et des \u00e9coles r\u00e9put\u00e9es
        Albert De Mun et Montalembert. Venez d\u00e9couvrir ce bel appartement situ\u00e9
        au dernier \u00e9tage, compos\u00e9 d''un s\u00e9jour double ouvrant sur balcon
        et la Terrasse, une cuisine ouverte, 3 chambres, une salle de bains avec baignoire
        et douche, w.c s\u00e9par\u00e9e, une cave e[...]
[...]
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties?cities=92063,78586,78551,78311,78146,78358,78372,78650,78418,78124,78190,78133,78224,78367,78224&exclude=17930265,17926685,17895588,17892236,17890052,17888110,17885459,17871368,17852869,17787979,17787083,17769591,17758177,17445548,17111837,4468262&page=1&perPage=40&transaction=buy&types=house,apartment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Fri, 29 May 2020 14:32:11 GMT
      X-Clara-Wadp:
      - '467270337'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"data":[{"immo_id":17968075,"transaction_type":"buy","type":"apartment","type_label":"Appartement","slug":"appartement-3-pieces-17968075","mandate_type":"favoriz","is_favoriz":true,"is_loft":0,"price":393000,"formatted_price":"393\u202f000\u00a0\u20ac","has_gav":false,"rooms":3,"bedrooms":2,"surface":77,"surface_stay":29,"surface_carrez":null,"surface_livingroom":null,"surface_ground":5.16,"photos":["https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_171689\/catalog\/images\/pr_p\/1\/7\/9\/6\/8\/0\/7\/5\/17968075a.jpg"],"video_url":null,"visit_url":null,"map_url":null,"postcode":"78240","city":"Chambourcy","city_slug":"chambourcy","lat":48.9074436,"lng":2.0510399,"description":"EXCLUSIVITE
        LAFORET !!!!!!! \nDans une r\u00e9sidence dans grand standing proche du lyc\u00e9e
        international, d...","radius":0.5,"photos_updated_at":1590655512,"created_at":1590652159,"updated_at":1590656038,"agency":{"immo_id":171689,"code":"SZ8","slug":"noisylegrand"},"address":{"postcode":"78240","city":"Chambourcy","city_code":"78133","city_slug":"chambourcy","district_code":78133,"department_code":"78","region_code":"11"},"links":{"self":"https:\/\/www.laforet.com\/api\/immo\/properties\/17968075"}},{"immo_id":17953255,"transaction_type":"buy","type":"house","type_label":"Maison","slug":"maison-5-pieces-17953255","mandate_type":"favoriz","is_favoriz":true,"is_loft":0,"price":845000,"formatted_price":"845\u202f000\u00a0\u20ac","has_gav":true,"rooms":5,"bedrooms":4,"surface":129.11,"surface_stay":null,"surface_carrez":null,"surface_livingroom":null,"surface_ground":334,"photos":["https:\/\/laforetbusiness.laforet-intranet.com\/off[...]
[...]
