---
http_interactions:
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties?cities=75&transaction=buy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Wed, 15 Jul 2020 08:34:39 GMT
      X-Clara-Wadp:
      - '412537802'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"data":[{"immo_id":18266252,"transaction_type":"buy","type":"apartment","type_label":"Appartement","slug":"appartement-1-piece-18266252","mandate_type":"favoriz","is_favoriz":true,"is_loft":0,"price":321000,"formatted_price":"321\u202f000\u00a0\u20ac","has_gav":false,"rooms":1,"bedrooms":1,"surface":29.5,"surface_stay":null,"surface_carrez":null,"surface_livingroom":37.5,"surface_ground":null,"photos":["https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris15vaugirard\/catalog\/images\/pr_p\/1\/8\/2\/6\/6\/2\/5\/2\/18266252a.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris15vaugirard\/catalog\/images\/pr_p\/1\/8\/2\/6\/6\/2\/5\/2\/18266252b.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris15vaugirard\/catalog\/images\/pr_p\/1\/8\/2\/6\/6\/2\/5\/2\/18266252c.jpg"],"video_url":null,"visit_url":null,"map_url":null,"postcode":null,"city":null,"city_slug":null,"lat":48.8349136,"lng":2.3049582,"description":"Dans
        une copropri\u00e9t\u00e9 ancienne, en dernier \u00e9tage nous vous proposons
        un studio de 29.5m\u00b2 carrez et 35...","is_prestige":false,"radius":0.5,"photos_updated_at":1594801821,"created_at":1594801733,"updated_at":1594801733,"agency":{"immo_id":126908,"code":"G82","slug":"paris15vaugirard"},"address":{"postcode":"75015","city":"Paris
        15","city_code":"75115","city_slug":"paris-15","district_code":null,"department_code":"75","region_code":"11"},"links":{"self":"https:\/\/www.laforet.com\/api\/immo\/properties\/18266252"}},{"immo_id":18266040,"transaction_type":"buy","type":"apartment","type_label":"Appartement","slug":"appartement-2-pieces-18266040","mandate_type":"favoriz","is_favoriz":true,"is_loft":0,"price":349800,"formatted_price":"349\u202f800\u00a0\u20ac","has_gav":false,"rooms":2,"bedrooms":1,"surface":28.5,"surface_stay":null,"surface_carrez":null,"surface_livingroom":null,"surface_ground":null,"photos":["https:\/\/laforetbusiness.laforet-int[...]
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties/18266252
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Wed, 15 Jul 2020 08:34:39 GMT
      X-Clara-Wadp:
      - '412537805'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"immo_id":18266252,"transaction_type":"buy","type":"apartment","mandate_type":"favoriz","selling_price":321000,"rent":null,"fees":null,"fees_rate":null,"charges":null,"deposit":null,"has_gav":false,"rooms":1,"bedrooms":1,"lots":null,"surface":29.5,"surface_stay":null,"surface_carrez":null,"surface_livingroom":37.5,"surface_ground":null,"floor":3,"floors":3,"year_of_construction":1821,"water_closets":null,"bathrooms":null,"water_rooms":null,"parkings":null,"inside_parkings":null,"outside_parkings":null,"garages":null,"cellars":null,"balconies":null,"terraces":null,"kitchen_type":null,"heating_type":"individual","heating_nature":null,"has_basement":false,"has_lift":false,"has_swimming_pool":false,"has_handicap_access":false,"has_attic":false,"has_veranda":false,"has_fireplace":false,"is_furnished":false,"is_prestige":false,"prestige_forced":false,"is_new":false,"is_viager":false,"is_seasonal_rental":false,"is_loft":0,"dpe_level":null,"dpe_value":null,"ges_level":null,"ges_value":null,"is_copro":true,"copro_lots":0,"copro_budget":167,"copro_has_syndic":true,"copro_details":null,"fees_buyer_amount":21000,"fees_seller_amount":null,"fees_tenant_amount":null,"fees_state_of_play_tenant_amount":null,"inventory_costs":null,"provision_charges":null,"package_charges":null,"rent_supplement":null,"description":"Dans
        une copropri\u00e9t\u00e9 ancienne, en dernier \u00e9tage nous vous proposons
        un studio de 29.5m\u00b2 carrez et 35.5m\u00b2 au sol. \nIl se compose d''une
        entr\u00e9e, une cuisine s\u00e9par\u00e9, un s\u00e9jour expose SUD EST.
        \nPossibilit\u00e9 d''un deux pi\u00e8ces !\nPoutre apparente, charme de l''ancien...\nA
        voir rapidement !","photos":["https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris15vaugirard\/catalog\/images\/pr_p\/1\/8\/2\/6\/6\/2\/5\/2\/18266252a.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris15vaugirard\/catalog\/images\/pr_p\/1\/8\/2\/6\/6\/2\/5\/2\/18266252b.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris15vaugirard\/catalog\/images\/pr_p\/1\/8\/2\/6\/6\/2\/5\/2\/18266252c.jpg"],"photos_updated_at":"2020-07-15
        10:30:21","video_url":null,"map_url":null,"visit_url":null,"postcode":null,"city":null,"city_code":null,"lat":48.8349136,"lng":2.3049582,"customers_count":0,"type_label":"Appartement","transaction_type_label":"Achat","price":321000,"formatted_price":"321\u202f000\u00a0\u20ac","kitchen_type_label":null,"heating_type_label":"Individuel","heating_nature_label":null,"slug":"appartement-1-piece-18266252","city_slug":null,"path":"\/agence-immobiliere\/paris15vaugirard\/acheter\/paris-15\/appartement-1-piece-18266252","url":"https:\/\/www.laforet.com\/agence-immobiliere\/paris15vaugirard\/acheter\/paris-15\/appartement-1-piece-18266252","is_favoriz":true,"price_without_fees":300000,"fees_buyer_percent":0,"fees_seller_percent":0,"radius":0.5,"created_at":1594801733,"updated_at":1594801733,"address":{"postcode":"75015","city":"Paris
        15","city_code":"75115","city_slug":"paris-15","district_code":null,"department_code":"75","region_code":"11"},"favorites":0,"links":{"self":"https:\/\/www.laforet.com\/api\/immo\/properties\/18266252"},"agency":{"immo_id":126908,"title":"Agence
        Lafor\u00eat Paris 15","name":"Lafor\u00eat PARIS 15 VAUGIRARD","photo":"https:\/\/www.laforet.com\/storage\/media\/705\/facade_0.jpg","email":"paris15vaugirard@laforet.com","email_rent":"location@laforet-lg.com","phone_rent":"+33
        1 44 38 10 10","code":"G82","legal_infos":{"rcp":"Attestation d''Assurance
        Prssonsabilit\u00e9 Civile Professionnelle des Agents Immobiliers","rcs":"419219126","activities":["Transaction
        immobili\u00e8re","Location immobili\u00e8re","Gestion\/administration de
        biens","Expert Immobilier"],"legal_form":"PHILAE","tva_number":"FR10419219126","headquarters":{"city":"paris","street":"283
        rue de vaugirard","postcode":"75015"},"mediator_name":null,"rcp_organisme":"AXA","share_capital":"7623","business_card_g":null,"business_card_t":"CPI
        75012016000011307","mediator_address":null,"can_receive_funds":true,"business_card_prefecture":{"city":"CERGY
        PONTOISE CEDEX","street":"CCI PARIS ILE DE FRANCE","postcode":"95031"}},"properties_for_sale_count":null,"properties_for_rent_count":null,"property_solds_count":null,"links":{"self":"https:\/\/www.laforet.com\/api\/immo\/agencies\/126908"},"address":{"country":"FR","street":"283
        rue de Vaugirard","postcode":"75015","city":"Paris 15","district_code":3000145,"region_code":"11","department_code":"75","city_code":"75115","phone":"0156568256","fax":null,"lat":48.8392832,"lng":2.3010825},"page":{"title":"Agence
        Paris 15 (G82)","slug":"paris15vaugirard","path":"\/agence-immobiliere\/paris15vaugirard","url":"https:\/\/www.laforet.com\/agence-immobiliere\/paris15vaugirard","banner":"https:\/\/www.laforet.com\/storage\/media\/704\/slide-mairie-paris-15.jpg","description":"<h3>Votre&nbsp;agence&nbsp;Lafor&ecirc;t
        Paris 15 - Vaugirard<\/h3>\n\n<p>Vous &ecirc;tes &agrave; la recherche d&rsquo;un
        appartement haussmannien &agrave; proximit&eacute; d&rsquo;une station de
        m&eacute;tro ? D&rsquo;un studio &agrave; r&eacute;nover ? D&rsquo;un duplex
        avec vue sur la Tour Eiffel ? Vous r&ecirc;vez d&rsquo;une cuisine ouverte,
        d&rsquo;une terrasse, d&rsquo;une chemin&eacute;e ? <strong>Quel que soit
        le bien que vous souhaitez acqu&eacute;rir, notre agence Lafor&ecirc;t Vaugirard
        saura vous trouver la perle rare du quinzi&egrave;me arrondissement !&nbsp;<\/strong><\/p>\n\n<p>Implant&eacute;e
        au c&oelig;ur du quartier de Vaugirard, l&rsquo;un des plus commer&ccedil;ants
        et recherch&eacute;s du quinzi&egrave;me arrondissement, l&rsquo;agence immobili&egrave;re
        Lafor&ecirc;t Vaugirard vous accueille dans un cadre agr&eacute;able et chaleureux,
        et vous propose une gamme compl&egrave;te de services immobiliers afin de
        r&eacute;pondre aux attentes de chacun :<\/p>\n\n<ul>\n\t<li>Estimation (valeur
        v&eacute;nale ou locative) offerte de votre bien&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<\/li>\n\t<li>Transaction
        immobili&egrave;re (vente et location)<\/li>\n\t<li>G&eacute;rance locative
        de votre bien<\/li>\n<\/ul>\n\n<p><strong>Pourquoi nous choisir ?&nbsp;<\/strong><\/p>\n\n<p>Parce
        que la r&eacute;ussite de votre projet immobilier leur tient &agrave; c&oelig;ur,
        nos n&eacute;gociateurs immobiliers mettent &agrave; votre dispositi[...]
[...]
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties?cities=75&perPage=25&transaction=buy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Wed, 15 Jul 2020 08:34:41 GMT
      X-Clara-Wadp:
      - '427631334'
      X-Wadp-Cache:
      - MISS
  [...]
[...]
