---
http_interactions:
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties?cities=92063,78586,78551,78311,78146,78358,78372,78650,78418,78124,78190,78133,78224,78367,78224&exclude=17930265,17926685,17895588,17892236,17890052,17888110,17885459,17871368,17852869,17787979,17787083,17769591,17758177,17445548,17111837,4468262&page=1&perPage=40&transaction=buy&types=house,apartment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Thu, 28 May 2020 15:24:03 GMT
      X-Clara-Wadp:
      - '223852299'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"data":[{"immo_id":17968075,"transaction_type":"buy","type":"apartment","type_label":"Appartement","slug":"appartement-3-pieces-17968075","mandate_type":"favoriz","is_favoriz":true,"is_loft":0,"price":393000,"formatted_price":"393\u202f000\u00a0\u20ac","has_gav":false,"rooms":3,"bedrooms":2,"surface":77,"surface_stay":29,"surface_carrez":null,"surface_livingroom":null,"surface_ground":5.16,"photos":["https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_171689\/catalog\/images\/pr_p\/1\/7\/9\/6\/8\/0\/7\/5\/17968075a.jpg"],"video_url":null,"visit_url":null,"map_url":null,"postcode":"78240","city":"Chambourcy","city_slug":"chambourcy","lat":48.9074436,"lng":2.0510399,"description":"EXCLUSIVITE
        LAFORET !!!!!!! \nDans une r\u00e9sidence dans grand standing proche du lyc\u00e9e
        international, d...","radius":0.5,"photos_updated_at":1590655512,"created_at":1590652159,"updated_at":1590656038,"agency":{"immo_id":171689,"code":"SZ8","slug":"noisylegrand"},"address":{"postcode":"78240","city":"Chambourcy","city_code":"78133","city_slug":"chambourcy","district_code":null,"department_code":"78","region_code":"11"},"links":{"self":"https:\/\/www.laforet.com\/api\/immo\/properties\/17968075"}},{"immo_id":17953255,"transaction_type":"buy","type":"house","type_label":"Maison","slug":"maison-5-pieces-17953255","mandate_type":"favoriz","is_favoriz":true,"is_loft":0,"price":845000,"formatted_price":"845\u202f000\u00a0\u20ac","has_gav":true,"rooms":5,"bedrooms":4,"surface":129.11,"surface_stay":null,"surface_carrez":null,"surface_livingroom":null,"surface_ground":334,"photos":["https:\/\/laforetbusiness.laforet-intranet.com\/off[...]
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties/17968075
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Thu, 28 May 2020 15:24:03 GMT
      X-Clara-Wadp:
      - '217531568'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"immo_id":17968075,"transaction_type":"buy","type":"apartment","mandate_type":"favoriz","selling_price":393000,"rent":null,"fees":null,"fees_rate":null,"charges":null,"deposit":null,"has_gav":false,"rooms":3,"bedrooms":2,"lots":null,"surface":77,"surface_stay":29,"surface_carrez":null,"surface_livingroom":null,"surface_ground":5.16,"floor":1,"floors":2,"year_of_construction":null,"water_closets":2,"bathrooms":1,"water_rooms":null,"parkings":1,"inside_parkings":null,"outside_parkings":null,"garages":null,"cellars":1,"balconies":null,"terraces":1,"kitchen_type":"fitted_equipped","heating_type":"individual","heating_nature":"electric","has_basement":false,"has_lift":false,"has_swimming_pool":false,"has_handicap_access":false,"has_attic":false,"has_veranda":false,"has_fireplace":false,"is_furnished":false,"is_prestige":false,"is_new":false,"is_viager":false,"is_seasonal_rental":false,"is_loft":0,"dpe_level":null,"dpe_value":null,"ges_level":null,"ges_value":null,"is_copro":true,"copro_lots":40,"copro_budget":null,"copro_has_syndic":true,"copro_details":null,"fees_buyer_amount":null,"fees_seller_amount":27510,"fees_tenant_amount":null,"fees_state_of_play_tenant_amount":null,"inventory_costs":null,"provision_charges":null,"package_charges":null,"rent_supplement":null,"description":"EXCLUSIVITE
        LAFORET !!!!!!! \nDans une r\u00e9sidence dans grand standing proche du lyc\u00e9e
        international, de Saint-Germain en Laye et de Poissy et de l''autoroute A14,
        Veuillez visitez ce magnifique duplex comprenant : au premier \u00e9tage,
        un grand s\u00e9jour lumineux de 29 m\u00b2 donnant sur une terrasse, une
        cuisine (possibilit\u00e9 US), de nombreux rangements et un WC. au 2\u00e8me
        \u00e9tage, deux chambres avec dressing, une salle de bain et un WC s\u00e9par\u00e9.
        Les plus, cave et parking compl\u00e8tent ce bien.\nCOUP DE COEUR ASSURE !!!!!!!!!!\n\nphotos
        \u00e0 venir","photos":["https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_171689\/catalog\/images\/pr_p\/1\/7\/9\/6\/8\/0\/7\/5\/17968075a.jpg"],"photos_updated_at":"2020-05-28
        10:45:12","video_url":null,"map_url":null,"visit_url":null,"postcode":"78240","city":"Chambourcy","city_code":"78133","lat":48.9074436,"lng":2.0510399,"customers_count":0,"type_label":"Appartement","transaction_type_label":"Achat","price":393000,"formatted_price":"393\u202f000\u00a0\u20ac","kitchen_type_label":"Am\u00e9nag\u00e9e\/\u00e9quip\u00e9e","heating_type_label":"Individuel","heating_nature_label":"Electrique","slug":"appartement-3-pieces-17968075","city_slug":"chambourcy","path":"\/agence-immobiliere\/noisylegrand\/acheter\/chambourcy\/appartement-3-pieces-17968075","url":"https:\/\/www.laforet.com\/agence-immobiliere\/noisylegrand\/acheter\/chambourcy\/appartement-3-pieces-17968075","is_favoriz":true,"price_without_fees":393000,"fees_buyer_percent":0,"fees_seller_percent":0,"radius":0.5,"created_at":1590652159,"updated_at":1590656038,"address":{"postcode":"78240","city":"Chambourcy","city_code":"78133","city_slug":"chambourcy","district_code":null,"department_code":"78","region_code":"11"},"favorites":0,"links":{"self":"https:\/\/www.laforet.com\/api\/immo\/properties\/17968075"},"agency":{"immo_id":171689,"title":"Agence
        Lafor\u00eat Noisy-le-Grand","name":"Lafor\u00eat CONCEPT PLUS NOISY LE GRAND","photo":"https:\/\/www.laforet.com\/storage\/media\/698\/img_3808_copie.jpg","email":"noisylegrand@laforet.com","email_rent":null,"phone_rent":null,"code":"SZ8","legal_infos":{"rcp":null,"rcs":"433833613","activities":["Transaction
        immobili\u00e8re","Location immobili\u00e8re","Vente de NEUF","Viager"],"legal_form":"CONCEPT
        PLUS","tva_number":null,"headquarters":{"city":"NOISY-LE-GRAND","street":"30
        avenue Aristide Briand","postcode":"93130"},"mediator_name":"MEDICYS","rcp_organisme":"AXA
        FRANCE IARD","share_capital":"19250","business_card_g":null,"business_card_t":"CPI
        9301 2015 000 001 052","mediator_address":"73 boulevard de Clichy - 75009
        CLICHY","can_receive_funds":true,"business_card_prefecture":{"city":null,"street":"CCI
        PARIS ILE-DE-FRANCE","postcode":null}},"properties_for_sale_count":null,"properties_for_rent_count":null,"property_solds_count":null,"links":{"self":"https:\/\/www.laforet.com\/api\/immo\/agencies\/171689"},"address":{"country":"FR","street":"30
        avenue Aristide Briand","postcode":"93160","city":"Noisy-le-Grand","district_code":101333,"region_code":"11","department_code":"93","city_code":"93051","phone":"0155851515","fax":null,"lat":48.8471847,"lng":2.552805},"page":{"title":"Agence
        Noisy-le-Grand (SZ8)","slug":"noisylegrand","path":"\/agence-immobiliere\/noisylegrand","url":"https:\/\/www.laforet.com\/agence-immobiliere\/noisylegrand","banner":"https:\/\/www.laforet.com\/storage\/media\/697\/image_noisy_le_grand_hdc_5957_bd_10227_-_copie_1.jpg","description":"<p>Lafor&ecirc;t,
        c&#39;est l&#39;<strong>agence immobili&egrave;re &agrave; Noisy le Grand<\/strong>&nbsp;incontournable
        au coeur du&nbsp;<strong>Grand Paris<\/strong>&nbsp;pour concr&eacute;tiser
        votre projet immobilier.&nbsp;Avec plus de 20&nbsp;ans d&#39;exp&eacute;rience,
        nous sommes&nbsp;le&nbsp;partenaire et alli&eacute; qu&#39;il vous faut !<\/p>\n\n<p>Notre
        agence est prim&eacute;e &quot;Expert&quot;, faisant ainsi partie du TOP 10
        des agences les&nbsp;plus performantes au sein du r&eacut[...]
[...]
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties?cities=75&perPage=20&transaction=buy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Thu, 28 May 2020 15:24:04 GMT
      X-Clara-Wadp:
      - '214073312'
      X-Wadp-Cache:
      - MISS
  [...]
[...]
