---
http_interactions:
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties?cities=75&transaction=buy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Thu, 02 Apr 2020 10:10:56 GMT
      X-Clara-Wadp:
      - '1060226005'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"data":[{"immo_id":17943068,"transaction_type":"buy","type":"apartment","type_label":"Appartement","slug":"appartement-4-pieces-17943068","mandate_type":"favoriz","is_favoriz":true,"price":1010000,"formatted_price":"1\u202f010\u202f000\u00a0\u20ac","has_gav":false,"rooms":4,"bedrooms":2,"surface":86.54,"surface_stay":null,"surface_carrez":null,"surface_livingroom":null,"surface_ground":null,"photos":["https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris18montmartre\/catalog\/images\/pr_p\/1\/7\/9\/4\/3\/0\/6\/8\/17943068a.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris18montmartre\/catalog\/images\/pr_p\/1\/7\/9\/4\/3\/0\/6\/8\/17943068b.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris18montmartre\/catalog\/images\/pr_p\/1\/7\/9\/4\/3\/0\/6\/8\/17943068c.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris18montmartre\/catalog\/images\/pr_p\/1\/7\/9\/4\/3\/0\/6\/8\/17943068d.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris18montmartre\/catalog\/images\/pr_p\/1\/7\/9\/4\/3\/0\/6\/8\/17943068e.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris18montmartre\/catalog\/images\/pr_p\/1\/7\/9\/4\/3\/0\/6\/8\/17943068f.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris18montmartre\/catalog\/images\/pr_p\/1\/7\/9\/4\/3\/0\/6\/8\/17943068g.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris18montmartre\/catalog\/images\/pr_p\/1\/7\/9\/4\/3\/0\/6\/8\/17943068h.jpg"],"video_url":null,"map_url":null,"postcode":null,"city":null,"city_slug":null,"lat":48.8924398,"lng":2.3358973,"description":"PARIS
        XVIII\u00e8me - rue Caulaincourt, dans une copropri\u00e9t\u00e9 bien entretenue,
        duplex de 89m2 (86,54m2 Car...","radius":0.5,"photos_updated_at":1585388703,"created_at":1585387812,"updated_at":1585387846,"agency":{"immo_id":126876,"code":"PD5","slug":"paris18montmartre"},"address":{"postcode":"75018","city":"Paris
        18","city_code":"75118","city_slug":"paris-18","district_code":3000200,"department_code":"75","region_code":"11"},"links":{"self":"https:\/\/www.laforet.com\/api\/immo\/properties\/17943068"}},{"immo_id":17932168,"transaction_type":"buy","type":"apartment","type_label":"Appartement","slug":"appartement-2-pieces-17932168","mandate_type":"favoriz","is_favoriz":true,"price":420000,"formatted_price":"420\u202f000\u00a0\u20ac","has_gav":false,"rooms":2,"bedrooms":1,"surface":42,"surface_stay":23,"surface_carrez":null,"surface_livingroom":null,"surface_ground":0,"photos":["https:\/\/laforetbusiness.laforet-intranet.com\/office9\[...]
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties/17943068
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Thu, 02 Apr 2020 10:10:56 GMT
      X-Clara-Wadp:
      - '1057770623'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"immo_id":17943068,"transaction_type":"buy","type":"apartment","mandate_type":"favoriz","selling_price":1010000,"rent":null,"fees":null,"fees_rate":null,"charges":null,"deposit":null,"has_gav":false,"rooms":4,"bedrooms":2,"lots":null,"surface":86.54,"surface_stay":null,"surface_carrez":null,"surface_livingroom":null,"surface_ground":null,"floor":0,"floors":3,"year_of_construction":null,"water_closets":2,"bathrooms":1,"water_rooms":null,"parkings":null,"inside_parkings":null,"outside_parkings":null,"garages":null,"cellars":1,"balconies":null,"terraces":null,"kitchen_type":"fitted_equipped","heating_type":"individual","heating_nature":"electric","has_basement":false,"has_lift":false,"has_swimming_pool":false,"has_handicap_access":false,"has_attic":false,"has_veranda":false,"has_fireplace":false,"is_furnished":false,"is_prestige":false,"is_new":false,"is_viager":false,"is_seasonal_rental":false,"dpe_level":"NI","dpe_value":null,"ges_level":"Vierge","ges_value":null,"is_copro":false,"copro_lots":null,"copro_budget":247,"copro_has_syndic":true,"copro_details":null,"fees_buyer_amount":38800,"fees_seller_amount":null,"fees_tenant_amount":null,"fees_state_of_play_tenant_amount":null,"inventory_costs":null,"provision_charges":null,"package_charges":null,"rent_supplement":null,"description":"PARIS
        XVIII\u00e8me - rue Caulaincourt, dans une copropri\u00e9t\u00e9 bien entretenue,
        duplex de 89m2 (86,54m2 Carrez) compos\u00e9 au premier niveau d''une salle
        \u00e0 manger avec cuisine ouverte am\u00e9nag\u00e9e et \u00e9quip\u00e9e,
        d''un s\u00e9jour avec trois portes fen\u00eatres et de nombreux placards
        int\u00e9gr\u00e9s, d''un WC ind\u00e9pendant, au second niveau une chambre
        spacieuse avec deux fen\u00eatres et des p[...]
[...]
