---
http_interactions:
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties?cities=75&transaction=buy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Tue, 28 Apr 2020 16:16:16 GMT
      X-Clara-Wadp:
      - '1042677635'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"data":[{"immo_id":17948132,"transaction_type":"buy","type":"apartment","type_label":"Appartement","slug":"appartement-2-pieces-17948132","mandate_type":"favoriz","is_favoriz":true,"is_loft":0,"price":225000,"formatted_price":"225\u202f000\u00a0\u20ac","has_gav":false,"rooms":2,"bedrooms":1,"surface":17,"surface_stay":null,"surface_carrez":16.61,"surface_livingroom":16.91,"surface_ground":null,"photos":["https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/4\/8\/1\/3\/2\/17948132a.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/4\/8\/1\/3\/2\/17948132b.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/4\/8\/1\/3\/2\/17948132c.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/4\/8\/1\/3\/2\/17948132d.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/4\/8\/1\/3\/2\/17948132e.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/4\/8\/1\/3\/2\/17948132f.jpg","https:\/\/laforetbusiness.laforet-intranet.com\/office9\/laforet_paris11bastille\/catalog\/images\/pr_p\/1\/7\/9\/4\/8\/1\/3\/2\/17948132g.jpg"],"video_url":null,"map_url":null,"postcode":null,"city":null,"city_slug":null,"lat":48.8658455,"lng":2.3816987,"description":"En
        \u00e9tage \u00e9lev\u00e9 d''un petit immeuble enti\u00e8rement r\u00e9nov\u00e9,
        Lafor\u00eat Couronnes vous propose un appartement...","radius":0.5,"photos_updated_at":1587741309,"created_at":1587740658,"updated_at":1587740703,"agency":{"immo_id":173056,"code":"SU5","slug":"paris11couronnes"},"address":{"postcode":"75011","city":"Paris
        11","city_code":"75111","city_slug":"paris-11","district_code":3000219,"department_code":"75","region_code":"11"},"links":{"self":"https:\/\/www.laforet.com\/api\/immo\/properties\/17948132"}},{"immo_id":17948076,"transaction_type":"buy","type":"apartment","type_label":"Appartement","slug":"appartement-2-pieces-17948076","mandate_type":"favoriz","is_favoriz":true,"is_loft":0,"price":798000,"formatted_price":"798\u202f000\u00a0\u20ac","has_gav":false,"rooms":2,"bedrooms":1,"surface":56.18,"surface_stay":null,"surface_carrez":null,"surface_livingroom":null,"surface_ground":null,"photos":["https:\/\/laforetbusiness.laforet-in[...]
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties/17948132
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Clara-Backend-Id:
      - db469s__laforet__laforet
      Inserted-Into-Cache-At:
      - Tue, 28 Apr 2020 16:16:17 GMT
      X-Clara-Wadp:
      - '182889998'
      X-Wadp-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"immo_id":17948132,"transaction_type":"buy","type":"apartment","mandate_type":"favoriz","selling_price":225000,"rent":null,"fees":null,"fees_rate":null,"charges":null,"deposit":null,"has_gav":false,"rooms":2,"bedrooms":1,"lots":null,"surface":17,"surface_stay":null,"surface_carrez":16.61,"surface_livingroom":16.91,"surface_ground":null,"floor":3,"floors":4,"year_of_construction":1880,"water_closets":1,"bathrooms":null,"water_rooms":1,"parkings":null,"inside_parkings":null,"outside_parkings":null,"garages":null,"cellars":null,"balconies":null,"terraces":null,"kitchen_type":"american","heating_type":"individual","heating_nature":"electric","has_basement":false,"has_lift":false,"has_swimming_pool":false,"has_handicap_access":false,"has_attic":false,"has_veranda":false,"has_fireplace":false,"is_furnished":false,"is_prestige":false,"is_new":false,"is_viager":false,"is_seasonal_rental":false,"is_loft":0,"dpe_level":"D","dpe_value":220,"ges_level":"Vierge","ges_value":null,"is_copro":true,"copro_lots":48,"copro_budget":100,"copro_has_syndic":false,"copro_details":null,"fees_buyer_amount":null,"fees_seller_amount":15000,"fees_tenant_amount":null,"fees_state_of_play_tenant_amount":null,"inventory_costs":null,"provision_charges":null,"package_charges":null,"rent_supplement":null,"description":"En
        \u00e9tage \u00e9lev\u00e9 d''un petit immeuble enti\u00e8rement r\u00e9nov\u00e9,
        Lafor\u00eat Couronnes vous propose un appartement ultra calme sur cour verdoyante.
        Il est hyper lumineux et sans vis \u00e0 vis! Il a \u00e9t\u00e9 refait avec
        espace optimis\u00e9 mais reste modulable au besoin. Demandez moi les vid\u00e9os
        pour une visite virtuelle - Cyril 06.98.46.01.01","photos":["https:\/\/laforetbusiness.laforet-intranet.com\/of[...]
[...]
- request:
    method: get
    uri: https://www.laforet.com/api/immo/properties?cities=92063,78586,78551,78311,78146,78358,78372,78650,78418,78124,78190,78133,78224,78367,78224&exclude=17930265,17926685,17895588,17892236,17890052,17888110,17885459,17871368,17852869,17787979,17787083,17769591,17758177,17445548,17111837,4468262&page=1&perPage=40&transaction=buy&types=house,apartment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      messa[...]
[...]
