---
http_interactions:
- request:
    method: get
    uri: https://www.stephaneplazaimmobilier.com/search/buy?limit=15&location%5B%5D=75&sort=date_desc&target=buy&type%5B%5D=1&type%5B%5D=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0YXJnZXQiOiJidXkiLCJ0eXBlIjpbIjEiLCIyIl0sImxvY2F0aW9uIjpbIjc1Il0sInNvcnQiOiJkYXRlX2Rlc2MiLCJsaW1pdCI6IjE1In0.TfI5PHjbdoWJsJiFGaMVrm1IJPjAIXPWBz_UGYwtWps","other_agency":{"index":{"old":null,"new":null},"id":null,"name":null,"url":null},"results":[{"id":1618109,"isExclusive":false,"has360":"https:\/\/youtu.be\/vQCRO6HVXOw","has3d":null,"hasPaint":null,"thumbnails":["https:\/\/media.immo-facile.com\/office10\/stepha_1911281610\/catalog\/images\/pr_p\/1\/6\/1\/8\/1\/0\/9\/1618109a.jpg.mid.jpg","https:\/\/media.immo-facile.com\/office10\/stepha_1911281610\/catalog\/images\/pr_p\/1\/6\/1\/8\/1\/0\/9\/1618109b.jpg.mid.jpg","https:\/\/media.immo-facile.com\/office10\/stepha_1911281610\/catalog\/images\/pr_p\/1\/6\/1\/8\/1\/0\/9\/1618109c.jpg.mid.jpg","https:\/\/media.immo-facile.com\/office10\/stepha_1911281610\/catalog\/images\/pr_p\/1\/6\/1\/8\/1\/0\/9\/1618109d.jpg.mid.jpg","https:\/\/media.immo-facile.com\/office10\/stepha_1911281610\/catalog\/images\/pr_p\/1\/6\/1\/8\/1\/0\/9\/1618109e.jpg.mid.jpg","https:\/\/media.immo-facile.com\/office10\/stepha_1911281610\/catalog\/images\/pr_p\/1\/6\/1\/8\/1\/0\/9\/1618109f.jpg.mid.jpg"],"price":"445
        000","type":"1","target":"buy","name":"Paris 15 Montparnasse - Studio 36.50m
        \u00b2","isFavorited":false,"ratio":null,"score":null,"properties":{"handicap":true,"adresse":"20
        rue de l armorique","latitude":"48.83908821197977","longitude":"2.3146176338195805","alentourweb":"48.83908821197977,2.3146176338195805","anneeConstruction":1975,"lift":true,"bienEnCopro":true,"ceQuonAimeAgence":"calme","ceQuonAimeVendeur":"Son
        emplacement ","chargesCourantesCopro":"1 800 EUR","heating":"Collectif avec
        comptage individuel","codePostal":"75015","consoEner":"B","consoEnerg":78,"cPVilleweb":"75015
        PARIS","cuisine":"Amenag\u00e9e","last-floor":false,"digicode":true,"floor":1,"etatInterieur":"Bon","exposure":"Nord-ouest","exposure-living-room":"NORD
        OUEST","fibreOptique":true,"gardien":true,"gES":"D","interphone":true,"loiCarrez":true,"mecanismeChauffage":"Radiateur","heating-mode":"Chauffage
        de ville","bedroom":0,"nbLotsCopro":"84","room":1,"neufAncien":"Recent","nombreEtage":10,"price":"445
        000 EUR","proceduresVSSyndicCopro":"Pas de proc\u00e9dure en cours","first-floor":false,"sDB":1,"secteur":"Montparnasse","surface":"37
        m2","surfaceCarrez":"37 m2","surfaceSejour":"21 m2","taxeFonciere":"635 EUR","typeBien":"Appartement","typeMandat":"Simple","typeTransaction":"A
        vendre","valeurGES":145,"city":"PARIS","visiophone":false,"view":"Jardins","wC":1},"departments":"75","matches":null,"displayLocation":"75015
        PARIS","location":{"lat":48.83908821197977,"lon":2.3146176338195805},"url_agency":"paris15suffren.stephaneplazaimmobilier.com","description":"A
        deux pas de la gare Montparnasse dans un immeuble  r\u00e9cent  ce studio
        de 36.50m\u00b2  (deux pi\u00e8ces possible) enti\u00e8rement tourn\u00e9
        sur les  jardins  int\u00e9rieurs offre un calme absolu .Cuisine ind\u00e9pendante
        (us possible) . Aucun vis \u00e0 vis .Salle de bains avec toilettes  , placards.
        Gardien dans l immeuble. 06 24 40 24 84  Vid\u00e9o \u00e0 la demande ","title":"Appartement
        1 pi\u00e8ce 36.5 m2","slug":"paris-15-montparnasse-studio-3650m-2","user":null},{"id":1472892,"isExclusive":false,"has360":"https:\/\/youtu.be\/iHu70ZvL8hY","has3d":null,"hasPaint":null,"thumbnails":["https:\/\/media.immo-facile.com\/office10\/stepha_1911281610\/catalog\/images\/pr_p\/1\/4\/7\/2\/8\/9\/2\/1472892a.jpg.mid.jpg","https:\/\/media.immo-facile.com\/office10\/stepha_1911281610\/catalog\/images\/pr_p\/1\/4\/7\/2\/8\/9\/2\/1472892b.jpg.mid.jpg","https:\/\/media.immo-facile.com\/office10\/stepha_1911281610\/catalog\/images\/pr_p\/1\/4\/7\/2\/8\/9\/2\/1472892c.[...]
