---
http_interactions:
- request:
    method: get
    uri: https://www.stephaneplazaimmobilier.com/search/buy?limit=15&location%5B%5D=75&sort=date_desc&target=buy&type%5B%5D=1&type%5B%5D=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0YXJnZXQiOiJidXkiLCJ0eXBlIjpbIjEiLCIyIl0sImxvY2F0aW9uIjpbIjc1Il0sInNvcnQiOiJkYXRlX2Rlc2MiLCJsaW1pdCI6IjE1In0.TfI5PHjbdoWJsJiFGaMVrm1IJPjAIXPWBz_UGYwtWps","other_agency":{"index":{"old":null,"new":null},"id":null,"name":null,"url":null},"results":[{"id":1625640,"isExclusive":false,"has360":null,"has3d":null,"hasPaint":null,"thumbnails":[],"price":"315
        000","type":"1","target":"buy","name":"Appartement Paris 1 pi\u00e8ce(s) 20
        m2","isFavorited":false,"ratio":null,"score":null,"properties":{"handicap":false,"adresse":"23
        Rue de l''Exposition","latitude":"48.857369","longitude":"2.303238","alentourweb":"48.857369,2.303238","anneeConstruction":1830,"lift":false,"bienEnCopro":true,"chargesCourantesCopro":"0
        EUR","heating":"Individuel","codePostal":"75007","consoEner":"A","consoEnerg":0,"country":"France","cPVilleweb":"75007
        PARIS","last-floor":true,"floor":5,"etatGeneral":"Bon Etat","exposure":"Sud-ouest","gES":"Non
        requis","honoraires":"15 000 EUR","loiCarrez":true,"heating-mode":"Electrique","bedroom":0,"nbLotsCopro":"0","nbLotsCoproHabitation":"0","room":1,"neufAncien":"Ancien","nombreEtage":5,"price":"315
        000 EUR","proceduresVSSyndicCopro":"Pas de proc\u00e9dure en cours","first-floor":false,"surface":"20
        m2","surfaceCarrez":"20 m2","taxeFonciere":"0 EUR","typeBien":"Appartement","typeMandat":"Simple","typeTransaction":"A
        vendre","city":"PARIS"},"departments":"75","matches":null,"displayLocation":"75007
        PARIS","location":{"lat":48.857369,"lon":2.303238},"url_agency":"paris15mottepicquet.stephaneplazaimmobilier.com","description":"Charmant
        studio au 5e et dernier \u00e9tage sans asc dans un immeuble de 1880 , comprenant
        un s\u00e9jour avec coin nuit , une kitchenette , une salle d''eau avec douche
        et wc. Vendu lou\u00e9 cave inclus M\u00e9tro Ecole Militaire.","title":"Appartement
        1 pi\u00e8ce 20 m2","slug":"appartement-paris-1-pieces-20-m2","user":null},{"id":1625620,"isExclusive":false,"has360":null,"has3d":null,"hasPaint":null,"thumbnails":[],"price":"300
        000","type":"1","target":"buy","name":"Charmant Studio 19 m2","isFavorited":false,"ratio":null,"score":null,"properties":{"handicap":false,"adresse":"23
        Rue de l''Exposition","latitude":"48.857369","longitude":"2.303238","alentourweb":"48.857369,2.303238","anneeConstruction":1830,"lift":false,"bienEnCopro":true,"chargesCourantesCopro":"0
        EUR","heating":"Individu[...]
- request:
    method: get
    uri: https://www.stephaneplazaimmobilier.com/search/buy?limit=15&location%5B%5D=78124&location%5B%5D=78133&location%5B%5D=78146&location%5B%5D=78190&location%5B%5D=78224&location%5B%5D=78251&location%5B%5D=78311&location%5B%5D=78358&location%5B%5D=78367&location%5B%5D=78372&location%5B%5D=78418&location%5B%5D=78551&location%5B%5D=78586&location%5B%5D=78650&sort=date_desc&target=buy&type%5B%5D=1&type%5B%5D=2
    body:
      encoding: US-ASCII
      string: ''
    he[...]
