<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <% @content.split.each do |word| %>
        <% if word.include?("[[tracking_link]]") %>
          <a href="<%= @tracking_link %>">hellodingdong.com</a>
        <% elsif word.include?("[[line_break]]") %>
          <br><br>
        <% elsif word.include?("[[property_data]]") %>
          <p><%= @property_data %></p>
        <% else %>
          <%= word %>
        <% end %>
      <% end %>
      <br><br>
    <%= @sender_name %>
  </body>
</html>