
    <div class="row justify-content-center mt-5 mb-5">
        <img class="text-center" src="https://hellodingdong.com/assets/images/logo-ding-dong-full.png" style="height:50px" alt="Logo">
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 mb-3">
            <div class="card">
              <div class="card-img-top d-flex justify-content-center p-4" src="..." alt="Card image cap">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 472 472" style="enable-background:new 0 0 472 472;" xml:space="preserve" width="200" height="200" class=""><g><path style="fill:#F7EAD0" d="M236,352c-23.024,0-44.704-5.536-64-15.144V384l0,0l64,8l64-8l0,0v-47.144  C280.704,346.464,259.024,352,236,352z" data-original="#FFE3D1" class="" data-old_color="#FFE3D1"/><polygon style="fill:#F7EAD0" points="172.016,352 236,376 300,351.136 300,328 172,328 " data-original="#FFD6C2" class="" data-old_color="#FFD6C2"/><path style="fill:#F7EAD0" d="M348,120c0-13.144-6.432-24.712-16.216-32c-6.664,4.96-14.832,8-23.784,8H132.184  c-5.064,6.704-8.184,14.952-8.184,24c0,17.672-14.328,32-32,32v56c0,79.528,64.472,144,144,144s144-64.472,144-144v-56  C362.328,152,348,137.672,348,120z" data-original="#FFE3D1" class="" data-old_color="#FFE3D1"/><g>
                    <path style="fill:#947BD3" d="M124,120c0-9.048,3.12-17.296,8.184-24H108c-2.52,0-4.984-0.256-7.4-0.632   C95.136,110.584,92,126.904,92,144v8C109.672,152,124,137.672,124,120z" data-original="#CCCCCC" class="" data-old_color="#CCCCCC"/>
                    <path style="fill:#947BD3" d="M347.72,53.208C347.784,54.144,348,55.04,348,56c0,13.144-6.432,24.712-16.216,32   C341.568,95.288,348,106.856,348,120c0,17.672,14.328,32,32,32v-8C380,109.568,367.88,77.984,347.72,53.208z" data-original="#CCCCCC" class="" data-old_color="#CCCCCC"/>
                </g><g>
                    <path style="fill:#F7EAD0" d="M76,216h16v-64H76c-17.672,0-32,14.328-32,32l0,0C44,201.672,58.328,216,76,216z" data-original="#FFD6C2" class="" data-old_color="#FFD6C2"/>
                    <path style="fill:#F7EAD0" d="M396,152h-16v64h16c17.672,0,32-14.328,32-32l0,0C428,166.328,413.672,152,396,152z" data-original="#FFD6C2" class="" data-old_color="#FFD6C2"/>
                </g><path style="fill:#947BD3" d="M132,16c-8.84,0-16-7.16-16-16h-5.984c-26.28,0-49.2,20.256-49.992,46.52C59.208,73.704,81,96,108,96  h200c22.088,0,40-17.912,40-40l0,0c0-22.088-17.912-40-40-40H132z" data-original="#2D2E46" class="" data-old_color="#2D2E46"/><g>
                    <path style="fill:#F2F2F2" d="M176,224L176,224c-24.304,0-44-19.696-44-44v-20h88v20C220,204.304,200.304,224,176,224z" data-original="#F2F2F2" class="active-path" data-old_color="#F2F2F2"/>
                    <path style="fill:#F2F2F2" d="M296,224L296,224c-24.304,0-44-19.696-44-44v-20h88v20C340,204.304,320.304,224,296,224z" data-original="#F2F2F2" class="active-path" data-old_color="#F2F2F2"/>
                </g><path style="fill:#947BD3" d="M381.568,159.84l-3.144-15.688L339.208,152H252h-32h-87.208l-39.216-7.84l-3.144,15.688L124,166.56  V180c0,28.672,23.328,52,52,52s52-23.328,52-52v-12h16v12c0,28.672,23.328,52,52,52s52-23.328,52-52v-13.44L381.568,159.84z   M212,180c0,19.848-16.152,36-36,36s-36-16.152-36-36v-12h72V180z M332,180c0,19.848-16.152,36-36,36s-36-16.152-36-36v-12h72V180z" data-original="#2D2E46" class="" data-old_color="#2D2E46"/><path style="fill:#2458FC" d="M4,472v-40c0-26.512,21.488-48,48-48h120l0,0l64,8l64-8l0,0h120c26.512,0,48,21.488,48,48v40" data-original="#6ACCEF" class="" data-old_color="#6ACCEF"/><polygon style="fill:#F26CA7" points="236,392 212,416 236,432 260,416 " data-original="#C6443E" class="" data-old_color="#C6443E"/><polygon style="fill:#F26CA7" points="236,432 225.088,424.728 212,464 260,464 246.912,424.728 " data-original="#E05346" class="" data-old_color="#E05346"/><g>
                    <polygon style="fill:#2458FC" points="116,472 100,384 148,384 164,472  " data-original="#5DB2D1" class="" data-old_color="#5DB2D1"/>
                    <polygon style="fill:#2458FC" points="356,472 372,384 324,384 308,472  " data-original="#5DB2D1" class="" data-old_color="#5DB2D1"/>
                </g><path style="fill:#947BD3" d="M236,279.936c-16.496,0-33-6.056-45.552-18.176l11.112-11.512c18.992,18.328,49.896,18.328,68.888,0  l11.112,11.512C269,273.872,252.496,279.936,236,279.936z" data-original="#2D2E46" class="" data-old_color="#2D2E46"/><g>
                    <polygon style="fill:#2458FC" points="196,432 148,384 172,384 236,392  " data-original="#F9F1ED" class="" data-old_color="#F9F1ED"/>
                    <polygon style="fill:#2458FC" points="276,432 324,384 300,384 236,392  " data-original="#F9F1ED" class="" data-old_color="#F9F1ED"/>
                </g></g> 
                </svg>
              </div>
                <div class="card-body">
                    <h5 class="card-title">Vous êtes chasseur ?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Professionnel</h6>
                    <p class="card-text">Rejoignez Ding Dong Pro, l'outil multi-recherches le plus performant du marché.</p>
                    <%= link_to "Accéder à mon espace", hunter_hunter_searches_path(4), class: "btn btn-success" %>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-3">
            <div class="card">
              <div class="card-img-top d-flex justify-content-center p-4" src="..." alt="Card image cap">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 466.907 466.907" style="enable-background:new 0 0 466.907 466.907;" xml:space="preserve" width="200px" height="200px" class=""><g><path style="fill:#F2CF77;" d="M456,41.454h8v-40h-8l-24,24h-40l-48,48h48L456,41.454z" data-original="#F2CF77"/><path style="fill:#2458FC" d="M96,241.454h160c53.019,0,96,42.981,96,96v128l0,0H0l0,0v-128C0,284.434,42.981,241.454,96,241.454z" data-original="#94D8E3" class="active-path" data-old_color="#94D8E3"/><g>
                    <path style="fill:#F7EAD0;" d="M176,297.454l72-56h-35.496c-23.167,10.667-49.841,10.667-73.008,0H104L176,297.454z" data-original="#F7EAD0" class=""/>
                    <path style="fill:#F7EAD0;" d="M88,57.454v104c0,48.601,39.399,88,88,88s88-39.399,88-88v-104H88z" data-original="#F7EAD0" class=""/>
                </g><g>
                    <path style="fill:#E6D8BD;" d="M80,121.454h80c26.51,0,48-21.49,48-48v-24H80V121.454z" data-original="#E6D8BD" class=""/>
                    <path style="fill:#E6D8BD;" d="M272,121.454h-16c-26.51,0-48-21.49-48-48v-24h64V121.454z" data-original="#E6D8BD" class=""/>
                    <path style="fill:#E6D8BD;" d="M212.504,241.454c-23.167,10.667-49.841,10.667-73.008,0h-23.768   c33.814,31.951,86.69,31.951,120.504,0H212.504z" data-original="#E6D8BD" class=""/>
                </g><path style="fill:#F26CA7" d="M288,321.454H64c-17.673,0-32,14.327-32,32v112h288v-112C320,335.781,305.673,321.454,288,321.454z   M176,417.454c-13.255,0-24-10.745-24-24s10.745-24,24-24s24,10.745,24,24S189.255,417.454,176,417.454z" data-original="#689CB0" class="" data-old_color="#689CB0"/><circle style="fill:#F4EFEF;" cx="176" cy="393.454" r="24" data-original="#F4EFEF"/><path style="fill:#D9D4D4;" d="M399.032,302.31L416,262.71l39.6-16.968l-84.856-28.288L399.032,302.31z" data-original="#D9D4D4"/><path style="fill:#947BD3" d="M88,113.454v168c-26.51,0-48-21.49-48-48v-96c0-75.111,60.889-136,136-136s136,60.889,136,136v96  c0,26.51-21.49,48-48,48v-168h-8c-26.51,0-48-21.49-48-48c0,26.51-21.49,48-48,48H88z" data-original="#FF7E6B" class="" data-old_color="#FF7E6B"/><path style="fill:#F2CF77;" d="M456,33.454h8v40h-8V33.454z" data-original="#F2CF77"/><g>
                    <path style="fill:#756969;" d="M168,169.454h-16c0-4.418-3.582-8-8-8s-8,3.582-8,8h-16c0-13.255,10.745-24,24-24   S168,156.199,168,169.454z" data-original="#756969" class=""/>
                    <path style="fill:#756969;" d="M232,169.454h-16c0-4.418-3.582-8-8-8s-8,3.582-8,8h-16c0-13.255,10.745-24,24-24   S232,156.199,232,169.454z" data-original="#756969" class=""/>
                </g><g>
                    <path style="fill:#FFFFFF" d="M280,385.454h16v56h-16V385.454z" data-original="#FFFFFF" class="" data-old_color="#FFFFFF"/>
                    <path style="fill:#FFFFFF" d="M280,353.454h16v16h-16V353.454z" data-original="#FFFFFF" class="" data-old_color="#FFFFFF"/>
                </g><path style="fill:#D9D4D4;" d="M410.339,268.342l11.314-11.314l45.255,45.255l-11.314,11.314L410.339,268.342z" data-original="#D9D4D4"/><g>
                    <path style="fill:#756969;" d="M330.345,191.151l11.314-11.314l15.998,15.998l-11.314,11.314L330.345,191.151z" data-original="#756969" class=""/>
                    <path style="fill:#756969;" d="M368,169.454h16v24h-16V169.454z" data-original="#756969" class=""/>
                </g></g> 
                </svg>
              </div>
                <div class="card-body">
                    <h5 class="card-title">Vous êtes acheteur ?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Particulier</h6>
                    <p class="card-text">Découvrez Ding Dong, l'alerte immobilière la plus efficace du marché.</p>
                    <a href="https://www.hellodingdong.com/" class="btn btn-success">Découvrir l'alerte</a>
                </div>
            </div>
        </div>

    </div>


