
  <nav class="navbar navbar-light fixed-bottom bg-blue d-flex justify-content-center">
    <div class="d-flex justify-content-center mt-2 mb-2">
    <% if @is_client %>
      <h5 class="font-weight-bold text-dark col-12 text-center">Vous êtes déjà premium Ding Dong !</h5>
    <% else %>
      <%= link_to "S'abonner à Ding Dong Premium 🚀",
                  new_subscriber_subscription_path,
                  class: "btn btn-success",
                  style: "font-weight:600" %>
    <% end %>
    </div>
  </nav>

<div class="row justify-content-center mt-4 align-items-center">
  <div class="col-sm-12 col-lg-8 aos-init aos-animate" data-aos="fade-up">
    <div class="mb-4">
      <h5 class="font-weight-bold text-blue col-12 text-center">Achetez sans stress avec</h5>
      <h3 class="font-weight-bold text-blue col-12 text-center">Ding Dong</h3>
    </div>
    <div class="container"> 
      <div class="row justify-content-center pl-2 pr-2"> 
        <div class="card card-price-2">
          <div class="card-body">
            <h4 class="text-blue font-weight-bold">19€ / mois</h4>
            <p class="mb-0 text-muted">Sans engagement.</p>
            <p class="mb-0 text-muted">Arrêtez à tout moment.</p>
            <hr class="ml-0 w-20">
            <ul class="list-group list-group-minimal text-muted">
              <li class="list-group-item text-black">
                <span><img src="http://hellodingdong.com/assets/images/icons/interface.png" style="width: 15px"> + de 150 sites scannés en une alerte</span>
              </li>
              <li class="list-group-item text-black">
                <span><img src="http://hellodingdong.com/assets/images/icons/interface.png" style="width: 15px"> Les annonces reçues avant tout le monde</span>
              </li>
              <li class="list-group-item text-black">
                <span><img src="http://hellodingdong.com/assets/images/icons/interface.png" style="width: 15px"> Des experts à votre écoute</span>
              </li>
              <li class="list-group-item text-black">
                <span><img src="http://hellodingdong.com/assets/images/icons/interface.png" style="width: 15px"> Les meilleurs plans du moment</span>
              </li>
              <li class="list-group-item text-black">
                <span><img src="http://hellodingdong.com/assets/images/icons/interface.png" style="width: 15px"> Un support réactif</span>
              </li>
            </ul>
          </div>
        </div>
      </div> 
    </div> 
  </div>
</div>