<%= render partial: "hunter_searches/navbar" %>

<h2 class="mt-5 text-center text-dark"> Votre selection</h1>
<ul>
  <% @data.each do |item|%>
    <li><%= item[1].get_title %> <%= link_to "ðŸ¤ Retirer", hunter_hunter_search_selection_path(current_hunter, @hunter_search.id, item[0]), method: :delete, class: "btn btn-sm btn-danger text-white", remote: true %> </li>
  <% end %>
</ul>
<%= render partial: "hunter_searches/footer" %>