

<div class="container">

    <div class="row mt-3"> 
        <div class="col d-flex justify-content-center"> 
            <img src="https://hellodingdong.com/assets/images/logo-ding-dong-full.png" class="mb-1 mr-2" style="height:30px">
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-12">
            <h3 class="mb-3 grey_dark">
                <div class='text-center' style="font-family: 'Nunito'">Votre message a bien été envoyé. </div>
            </h3> 
            <h5>
                <div class="mt-4 text-center">  Nous revenons vers vous très rapidement !  </div>
            </h5> 
        </div>
    </div>



</div>

<footer class="bg-dark text-white">
    <div class="separator-top">
        <div class="container py-5">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5 text-center text-md-left pl-2">

            <div>
                <small>793 337 643 RCS Paris</small>
            </div>
            <div>
                <small>Carte de Transaction : CPI75012017000018988</small>
            </div>
            <div>
                <small>Police d’assurance professionnelle : 41319158</small>
            </div>
            <div>
                <small>2020 © Ding Dong. Tous droits réservés.</small>
            </div>
            </div>
            <div class="col-md-2 text-center mt-4">
                <img class="logo-sm" src="https://hellodingdong.com/assets/images/logo-ding-dong-white.png" alt="Logo">
            </div>
        </div>
        </div>
    </div>
</footer>


