<h1>Bonjour Hugo</h1>
<h2>Voici la synthèse hebdo de tes contacts</h2>

<h3>En résumé</h3>
<table>
  <tr>
    <th> Nombre de leads <br><i> (sur les 7 derniers jours) </i></th>
    <td>49 <br><i>(+10)</i></td>
  </tr>
</table>

<h3>En détail</h3>
<table>
  <tr>
    <th> Nom</th>
    <th> Alerte active depuis le</th>
    <th> Nombre d'annonces en favoris <br><i>(depuis 7 jours)</i></th>
    <th> Annonce toujours active ? <br><i>(arrêtée le)</i></th>
    <th> Contact Ding Dong ?</th>
    <th> Coordonnées</th>
  </tr>
  <tr>
    <td> Jeanne Ausecours</td>
    <td> 19/08/2020</td>
    <td> 23 <i>(5)</i></td>
    <td> OUI </td>
    <td> OUI </td>
    <td> 07.98.93.74 <br> jeanne.ausecours@gmail.com </td>
  </tr>
</table>

<style>
table, tr, th, td {
  border:  1px solid #000;
}
</style>