<p>Bonjour Hugo</p>
<p>Voici la synthèse hebdomadaire de tes contacts Ding Dong</p>

<h3>Statistiques de tes clients </h3>
<table>
  <tr>
    <th> Nombre de client sur Ding Dong</th>
    <td>49</td>
  </tr>
  <tr>
    <th> Sur les 7 derniers jours </i></th>
    <td>10</td>
  </tr>
</table>

<h4>En détail</h4>
<table>
  <tr>
    <th> Nom</th>
    <th> Inscription le</th>
    <th> Annonce toujours active ? </th>
    <th> Critères de recherche ?</th>
    <th> Coordonnées</th>
  </tr>
  <tr>
    <td> Jeanne Ausecours</td>
    <td> 09/08/2020</td>
    <td> Oui</td>
    <td> OUI </td>
    <td> OUI </td>
    <td> 07.98.93.74 <br> jeanne.ausecours@gmail.com </td>
  </tr>
</table>

<h3>Statistiques des clients Ding Dong</h3>


<style>
table, tr, th, td {
  border:  1px solid #000;
}
</style>