/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @media (max-width: 992px) {
  .box-centered {
    display: block !important;
  }
  .w-75-mobile {
    width: 75%;
  }
  .mobileHide{ display: none !important;}

  .marginTopHeader{
    margin-top: -25px;
  }

  .marginTopSteps{
    margin-top: -20px;
  }

  .bg-white-steps {
    top:130px !important;
  }
}

@media (min-width: 993px) {
  .w-75-mobile {
    width: 100%;
  }
  .mobileShow{
    display: none !important;
  }
}

.navbarBlueLight{
  background-color: #678CFF;
  height: 70px;
}

.display-flex{
  display: flex;
}

.bg-white-steps-final-step {
  position: absolute;
  top: 300px !important;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: white;
}


.margin-bottom-navbar{
  margin-bottom: 7rem;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.writing-box{
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
  color: #2458FC !important;
}


.margin-negative-50{
  margin-top: -60px;
}

.box-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .btn-outline-navbar{
    background: #F26CA7;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color:white;
    padding: 7.5px 40px 7.5px 40px;
    text-decoration: none;
 }

 .btn-outline-navbar:hover{
  color: white ;
  background: #2458FC ;
  border: #2458FC solid 1px;
  text-decoration: none;
}

.btn-pros{
  color: #fff;
  background-color: #2458FC;
  border-color: #2458FC;
  padding: 15px 40px 15px 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn-pros:hover {
  color: #fff;
  background-color: #F26CA7;
}

 .bg-primary-pros{
  background: linear-gradient(180deg, #2458FC 0%, #678CFF 99.99%);
   position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
 }

 .bg-white-steps{
  position: absolute;
  top: 190px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: white;
 }

 .testimonial-picture {
  border-radius: 25px;
}

  .bg-rose{
    background-color: #F26CA7 !important;
  }

 .mb-100{
  margin-bottom: 120px;
 }

 .logo-sm {
  max-height: 2rem;
}

.encart_style {
  padding: 15px;
  border-radius: 25px;
  border : 1px solid #6c757d;
}



/*STEP 3&4*/

.medium-btn{
  border: 1px solid #2458FC !important;
  border-radius: 10px !important;
  color: #2458FC !important;
  cursor: pointer !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.medium-active{
  background-color: #2458FC !important;
  color: white !important;
} 

.medium-active-logo{
  fill: white !important;
}

.btn:hover > svg > g > path {
  fill: white !important;
}

/*STEP 3&4*/

 .comment_style {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 25px;
  margin-top: -80px;
  color: #373A3C;
}

a:hover {
  text-decoration: none !important;
}
 
 .card_hover:hover {
  border: solid 1px #F26CA7 !important;
}

.mt-100 {
  margin-top: 100px
}
.choices__list--multiple .choices__item{
  background-color: #2458FC !important;
  border-color: #2458FC !important;
}

 .badge-off{
  padding: 5px 10px 5px 10px;
  color: #2458FC;
  background: white;
  border: #2458FC solid 1px;
  border-radius: 50px
}

.badge-active{
  padding: 5px 10px 5px 10px;
  color: white;
  background: #2458FC;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.badge-active:hover{
  padding: 5px 10px 5px 10px;
  color: white !important;
  background: #F26CA7;
  border: #F26CA7 solid 1px;
  border-radius: 50px;
  text-decoration: none;
}

.btn:hover{
  background: #F26CA7 !important;
  color: white !important;
  border: #F26CA7 solid 1px !important;
}

.form-check-input {
  position: absolute;
  top: 1px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: blue !important;
  border-radius: 5px;
}


.form-control:focus {
  border: solid 1px !important;
  box-shadow: none !important;
}

.grey_dark {
  color: #343a40;
  font-weight: 600;
}

.grey {
  color :#6c757d;
}

 .choices__inner {
    background: none !important;
    border: 1px solid #2458FC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
 }

 .choices__inner:hover {
  background: none !important;
  border: 1px solid #2458FC;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
}

 .is-focused .choices__inner, .is-open .choices__inner {
    border-radius: 10px 10px 0px 0px !important;
   }

.input_style input{
  padding: 20px 20px 20px 10px !important;
  background: none !important;
  color: #2458FC !important;
}

.input-group-text_style {
    color: white !important;
    background: #2458FC !important;
    border: 1px solid #2458FC !important;
}


 body {
  font-family: 'Nunito Sans', serif !important;
  font-size: 48px ;
}

 .font-grey-style {
    color: #525f7f;
  }

  .box_hover:hover {
    cursor: pointer !important;
    border-color:#57b894 !important;
  }

  .label_active{
    background: #57b894;
    color:white;
    border: 1px solid white;
    font-size: 1em;
    padding: 5px 10px 0px 10px !important;
    border-radius: 36px;
  }

  .label_non_active{
    background: #e9ecef;
    color: #525f7f;
    border: solid 1px #ced4da;
    font-size: 1em;
    padding: 5px 10px 0px 10px !important;
    border-radius: 36px;
  }

  .bg-blue{
    background-color: #2458FC;
  }

  .text-blue{
    color: #2458FC;
  }

  .text-black{
    color: #212529;
  }

  .underline_konbini_6{
    border-bottom: 4px solid #f96332;
    line-height: 8px;
  }

  .img_responsive{
    max-width: 300px;
    width: -webkit-fill-available;
    height: min-intrinsic;
    max-height: 460px;
  }

  .img_broker_responsive{
    max-width: 200px;
    width: -webkit-fill-available;
    height: min-intrinsic;
    max-height: 200px;
  }