/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .font-grey-style {
    color: #525f7f;
  }

  .box_hover:hover {
    cursor: pointer !important;
    border-color:#57b894 !important;
  }

  .label_active{
    background: #57b894;
    color:white;
    border: 1px solid white;
    font-size: 1em;
    padding: 5px 10px 0px 10px !important;
    border-radius: 36px;
  }

  .label_non_active{
    background: #e9ecef;
    color: #525f7f;
    border: solid 1px #ced4da;
    font-size: 1em;
    padding: 5px 10px 0px 10px !important;
    border-radius: 36px;
  }

  .bg-blue{
    background-color: #0470C1;
  }

