<!DOCTYPE html>
<html>
  <head>
  	<%= stylesheet_link_tag "elements" %>
  	<script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <%= yield %>
  	<%= javascript_pack_tag("subscriptions.js") %>
  </body>
</html>